a {
  text-decoration: none;
}

a:link {
  color: #000;
  border-bottom: 1px solid #ff0000;
}

a:visited {
  color: #BADA55;
  border-bottom: 1px solid #b3b3b3;
}

a:hover {
  color: #2d8653;
  border-bottom: 1px solid #000099;
}

body {
  background-color: lightblue;
}

h6 {
  color: navy;
  margin-left: 20px;
}